@model test3.Models.ServiceModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ServiceModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NormalPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NormalPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NormalHour)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NormalHour)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FastPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FastPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FastHour)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FastHour)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Photo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Photo)
        </dd>

      
    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
