@model PaperHelp.Models.ViewModels.AddOrder

@*<link href="~/css/AddOrder.css" rel="stylesheet" />*@
@using (Html.BeginForm("AddOrder_3", "Services", FormMethod.Post))
{

    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <br />
        <br />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @Html.HiddenFor(x => x.ServiceId)
        <div class="card11">
            <div class="formtitle">
                <h1 class="heading">
                    <span>Add Order</span>
                </h1>
            </div>
            <div class="card11container">

                <div id="bodycheckbox">


                    <label>
                        Normal
                        @Html.RadioButtonFor(model => model.IsNormal, "true")
                    </label>
                    <br />
                    <br />
                    <label>
                        Fast
                        @Html.RadioButtonFor(model => model.IsNormal, "fasle")
                    </label>
                    <br />
                    <br />
                </div>
                <br />
                <br />

                <label>Quantity of paper :</label>
                <input type="number" id="qty" name="NoOfPaper" @*placeholder="Qty"*@ value="@Model.NoOfPaper" onclick="add()" />
                <br />
                <br />
                <label>Description :</label>
                <div class="boxcontainer">

                    <textarea class="form-control" id="Description" name="Description" placeholder="Write Your Paper's Description .." value="@Model.Description" rows="2" cols="20"></textarea>
                    <br />
                    <br />


                    <div class="rule"></div>
                    <div class="form-footer">
                        <button type="submit" class="btn" style="text-align:center; width:150px" id="add" name="total">Total</button>

                    </div>

                </div>
            </div>
        </div>
    </div>
}

<script src="~/lib/jquery/jquery.js"></script>
<script src="~/lib/jquery-validate/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
