@model PaperHelp.Models.ViewModels.AddOrder


@using (Html.BeginForm("AddOrder_3", "Services", FormMethod.Post))
{
@Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <h1 class="heading"> <span>Add Order</span> </h1>
                    <br />
                    <br />
                    <br />


                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    @Html.HiddenFor(x => x.ServiceId)

                    <div class="box-container">

                        <div class="box">

                            <img src="~/images/Select.gif" />
                            @*@<img src="~/images/OD.png" />@*@
                            <div class="content">



                                <div>
                                    <label>Qun</label>
                                    <input type="number" id="qty" name="NoOfPaper" placeholder="Qty" value="@Model.NoOfPaper" onclick="add()" />
                                    @Html.ValidationMessageFor(model => model.NoOfPaper, "", new { @class = "text-danger" })

                                </div>


                                <div>
                                    <label>Description</label>
                                    <textarea class="form-control" id="Description" name="Description" value="@Model.Description" rows="2" cols="20"></textarea>
                                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })

                                </div>


                                <button type="submit" class="btn" style="text-align:center; width:150px" id="add" name="total">Total</button>
                            </div>
                        </div>


                    </div>
                </div>
 }
<script src="~/lib/jquery/jquery.js"></script>
<script src="~/lib/jquery-validate/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
