@model PaperHelp.Models.ViewModels.AddOrder


@using (Html.BeginForm("AddOrder_3", "Services", FormMethod.Post))
{
@Html.AntiForgeryToken()


<br />
<br />
<br />
<br />
<br />
<br />
<h1 class="heading"> <span>Add Order</span> </h1>
<br />
<br />
<br />
@Html.ValidationSummary(true, "", new { @class = "text-danger" })

@Html.HiddenFor(x => x.ServiceId)


<div class="container">
<ul>
<li>
<input type="radio" id="f-option" name="selector">
<label for="f-option">
Normal
@Html.RadioButtonFor(model => model.IsNormal, "true")
</label>
<div class="check"></div>
</li>
<li>
<input type="radio" id="s-option" name="selector">
<label for="s-option">
Fast
@Html.RadioButtonFor(model => model.IsNormal, "true")
</label>
<div class="check"><div class="inside"></div></div>
</li>

<li>
<p>Quantity of paper: </p>
<div class="quantity">

<input class="input-num-field" type="number" id="qty" name="NoOfPaper" placeholder="enter number of paper.." value="@Model.NoOfPaper" onclick="add()" />
</div>
</li>
<li>

<p>Description</p>
<textarea class="form-control" id="Description" name="Description" value="@Model.Description" rows="2" cols="20">Write Your Paper's Description .</textarea>
</li>
</ul>

<div>
<label id="price">@Model.Price</label>
<input type="text" id="num" name="Price" value="@Model.Price" />
</div>


<button type="submit" class="btn" style="text-align:center; width:150px" id="add" name="total">Total</button>



</div>

}

<script src="~/lib/jquery/jquery.js"></script>
<script src="~/lib/jquery-validate/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
