@using PaperHelp.Models
@model Order

@using (Html.BeginForm("BackToAddOrder_3", "Services", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <h1 class="heading"> <span>Add Order</span> </h1>
        <br />
        <br />
        <br />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @Html.HiddenFor(x => x.ServiceId)
        @Html.HiddenFor(x => x.Id)

        <div class="box-container">

            <div class="box">

                <img src="~/images/Select.gif" />
                @*<img src="~/images/OD.png" />*@
                <div class="content">
                

                    <div>
                        <label>Qun</label>
                        <input type="number" id="qty" name="NoOfPaper" placeholder="Qty" value="@Model.NoOfPaper" onclick="add()" />
                    </div>


                    <div>
                        <label>Description</label>
                        <textarea class="form-control" id="Description" name="Description" value="@Model.Description" rows="2" cols="20">Write Your Paper's Description .</textarea>

                    </div>


                    

                    <button type="submit" class="btn" style="text-align:center; width:150px" id="add" name="total">Total</button>
                </div>
            </div>


        </div>
    </div>
}
