@using PaperHelp.Models;
@model  IEnumerable<Order>


<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">



<div class="row">
    <div class="col-md-12">
        <div class="table-wrap">
            <table class="table table-responsive-xl">
                <thead>
                    <tr>
                        <th>Service</th>
                        <th>Description</th>
                        <th>Price</th>
                        <th>Status</th>
                        <th>DeadLine</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var o in Model)
                    {
                        if (o.OrderStatus == 1)
                        {
        <tr class="alert" role="alert">
            <td class="d-flex align-items-center">
                <div class="pl-3 email">
                    @*<div>@o.Service.Name</div>*@
                </div>
            </td>
            <td>@o.Description</td>
            <td>@o.Price</td>
            <td class="status">
                @{ if (o.OrderStatus == 1)
                    {<span class="waiting">WaitPayment</span> } }
            </td>
            <td>@o.finishedDate</td>
            <td>

                <a href="@Url.Action("AddOrder_pay", "Services", new {id=o.Id })" class="btn btn-outline-primary">Pay</a>


                <form method="post" action="@Url.Action("Delete", "Services", new { id = o.Id})"
                      style="display:inline">

                    <button type="submit" class="close" data-dismiss="alert" aria-label="Close" onclick="return confirm('Are You Sure?')">
                        <span aria-hidden="true"><i class="fa fa-close"></i></span>
                    </button>

                </form>


            </td>
        </tr>}

                    }

                </tbody>
            </table>
        </div>
    </div>
</div>


