@using test3.Models;
@model IEnumerable<test3.Models.OrderModel>


<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">


<div class="row">
    <div class="col-md-12">
        <div class="table-wrap">
            <table class="table table-responsive-xl">
                <thead>
                    <tr>
                        <th>Service</th>
                        <th>Description</th>
                        <th>Price</th>
                        <th>Status</th>
                        <th>DeadLine</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var o in Model)
                    {

                        if (o.OrderStatus == 4)
                        {
                            <tr class="alert" role="alert">
                                <td class="d-flex align-items-center">
                                    @*<div class="img" style="background-image:@Url.Content(o.Service.Photo)"></div>*@
                                    <div class="pl-3 email">
                                        @o.ServiceId
                                    </div>
                                </td>

                                <td>@o.Description</td>
                                <td>@o.Price</td>
                                <td class="status">
                                    @{ if (o.OrderStatus == 4)
                                        {
                                            <span class="alert-dark">Finished</span> } }
                                </td>
                                <td>@o.finishedDate</td>

                                @*<td>
                                    <a href="@Url.Action("RequestView", "Services", new {id=o.Id})" class="btn btn-outline-primary"> View</a>




                                </td>*@
                            </tr>
                        }


                    }

                </tbody>
            </table>
        </div>
    </div>
</div>
