@using PaperHelp.Models
@model Order
@{
    ViewBag.Title = "AddOrder_pay";
}

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<h1 class="heading"> <span>Payment</span> </h1>
<br />
<br />
<section id="wrapper2" @*style="background-color: #e8786e; width: 80%; height: 600px; align-items: center"*@>
    <div class="payment">
        <h3>Name of Service:</h3>
       @* <p1>@Model.Service.Name</p1>*@
        <h3>Total Amount:</h3>
        <p1>@Model.Price</p1><span> SR</span>
        <h3>Date of Deadlie:</h3>
        <p1>@Model.finishedDate</p1>
    </div>

</section>
<section>
    <div id="wrapper">
        <div class="row">
            <div class="col-xs-5">
                <div id="cards">
                    <img src="http://icons.iconarchive.com/icons/designbolts/credit-card-payment/256/Visa-icon.png">
                    <img src="http://icons.iconarchive.com/icons/designbolts/credit-card-payment/256/Master-Card-icon.png">
                </div><!--#cards end-->
                <div class="form-check">
                    <label class="form-check-label" for='card'>
                        <input id="card" class="form-check-input" type="checkbox" value="">
                        Pay $150.00 with credit card
                    </label>
                </div>
            </div><!--col-xs-5 end-->
            <div class="col-xs-5">
                <div id="cards">
                    <img src="http://icons.iconarchive.com/icons/designbolts/credit-card-payment/256/Paypal-icon.png">
                </div><!--#cards end-->
                <div class="form-check">
                    <label class="form-check-label" for='paypal'>
                        <input id="paypal" class="form-check-input" type="checkbox" value="">
                        Pay $150.00 with PayPal
                    </label>
                </div>
            </div><!--col-xs-5 end-->
        </div><!--row end-->

        <div class="row">
            <div class="col-xs-5">
                <i class="fa fa fa-user"></i>
                <label for="cardholder">Cardholder's Name</label>
                <input type="text" id="cardholder">
            </div><!--col-xs-5-->
            <div class="col-xs-5">
                <i class="fa fa-credit-card-alt"></i>
                <label for="cardnumber">Card Number</label>
                <input type="text" id="cardnumber">
            </div><!--col-xs-5-->
        </div><!--row end-->
        <div class="row row-three">
            <div class="col-xs-2">
                <i class="fa fa-calendar"></i>
                <label for="date">Valid thru</label>
                <input type="text" placeholder="MM/YY" id="date">
            </div><!--col-xs-3-->
            <div class="col-xs-2">
                <i class="fa fa-lock"></i>
                <label for="date">CVV / CVC *</label>
                <input type="text">
            </div><!--col-xs-3-->
            <div class="col-xs-5">
                <span class="small">* CVV or CVC is the card security code, unique three digits number on the back of your card seperate from its number.</span>
            </div><!--col-xs-6 end-->
        </div><!--row end-->
        <footertwo>
            @*<button class="btn">Back</button>*@

            <a href="@Url.Action("BackToOrder", "Services",new { id =Model.Id })" class="btn" style="text-align:center; width:150px">Back</a>
            <a href="@Url.Action("ClientPage", "Services",new { id = Model.Id })" class="btn" style="text-align:center; width:150px">Order Now</a>
        </footertwo>
    </div><!--wrapper end-->
</section>
<script src="~/js/JavaScriptPayment.js"></script>
