@using PaperHelp.Models;
@model Service

@{ ViewBag.Title = "Order"; }
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

<section class="portfolio" id="portfolio">

    <h1 class="heading"> <span>Services</span> </h1>

    <div class="box-container">

        @if (Model.Sale == false)
        {
<div class="box">
    <img src="@Url.Content(Model.Photo)" alt="">
    <div class="content">
        <h3>@Model.Name</h3>
        <p>@Model.Description</p>


    </div>
</div> }
else
{
<div class="box">
    <span>Sale</span>
    <img src="@Url.Content(Model.Photo)" alt="">
    <div class="content">
        <h3>@Model.Name</h3>
        <p>@Model.Description</p>


    </div>
</div>}
    </div>

    @Html.Action("AddOrder_2", new { id = Model.Id })

</section>
