@using PaperHelp.Models;
@model  IEnumerable<Order>
@{ ViewBag.Title = "Index"; }


<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

<link href="~/css/ClientPages.css" rel="stylesheet" />
<link href="~/css/Tabs.css" rel="stylesheet" />

<div class="tabinator">
    <h1 class="heading"> View <span>Orders</span> </h1>
    <input type="radio" id="tab1" name="tabs" checked>
    <label for="tab1">Wait for Payment</label>
    <input type="radio" id="tab2" name="tabs">
    <label for="tab2">Pinding Admin</label>
    <input type="radio" id="tab3" name="tabs">
    <label for="tab3">InProgress</label>
    <input type="radio" id="tab4" name="tabs">
    <label for="tab4">Finish</label>

    <input type="radio" id="tab5" name="tabs">
    <label for="tab5">Review</label>

    <div id="content1">
        <p>
            @Html.Partial("WaitingStatus")
        </p>
    </div>

    <div id="content2">
        <p>
            @Html.Partial("PindingForAdminStatus")

        </p>
    </div>

    <div id="content3">
        <p>
            @Html.Partial("inprogress")
        </p>
    </div>

    <div id="content4">
        <p>
            @Html.Partial("FinishedStust")
        </p>
    </div>


    <div id="content5">
        <p>
            @Html.Partial("ReviewStatus")

        </p>
    </div>

</div>

