@model PaperHelp.Models.IndexViewModel
@{ ViewBag.Title = "Manage"; }

<br />
<br />





<link href="~/css/Profile.css" rel="stylesheet" />

<div class="main">


    <!-- Sing in  Form -->
    <section class="sign-in">
        <div class="container">
            <center> <h4 class="text-success">@ViewBag.StatusMessage</h4></center>

            <div class="signin-content">
                <div class="signin-image">
                    <figure><img src="~/images/signin-image.jpg" alt="sing up image"></figure>
                </div>

                <div class="signin-form">
                    <h2 class="form-title">account settings</h2>
                    <br />
                    <br />

                    <form>
                        <div class="form-group">
                            <strong>User Name</strong><br />
                            <input value="@Model.UserName" disabled />
                            <br />
                        </div>

                        <div class="form-group">
                            <strong>Email</strong><br />
                            <input value="@Model.Email" disabled />
                            <br />
                        </div>

                        <div class="form-group">
                            <strong>Password</strong><br />
                            [
                            @if (Model.HasPassword)
                            {
                @Html.ActionLink("Change your password", "ChangePassword") }
            else
            {
@Html.ActionLink("Create", "SetPassword")}
                            ]

                        </div>
                    </form>

                </div>
            </div>
        </div>
    </section>

</div>






@*<div>
        <h4>Change your account settings</h4>
        <hr />


        <dl class="dl-horizontal">

            <dt>User Name:</dt>
            <dd>
                @Model.UserName
            </dd>

            <dt>Email:</dt>
            <dd>
                @Model.Email
            </dd>

            <dt>Password:</dt>
            <dd>
                [
                @if (Model.HasPassword)
                {
    @Html.ActionLink("Change your password", "ChangePassword") }
    else
    {
    @Html.ActionLink("Create", "SetPassword")}
                ]
            </dd>*@

@*<dt>External Logins:</dt>
    <dd>
        @Model.Logins.Count [
        @Html.ActionLink("Manage", "ManageLogins") ]
    </dd>*@
@*
    Phone Numbers can used as a second factor of verification in a two-factor authentication system.

     See <a href="https://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
        for details on setting up this ASP.NET application to support two-factor authentication using SMS.

     Uncomment the following block after you have set up two-factor authentication
*@
@*
    <dt>Phone Number:</dt>
    <dd>
        @(Model.PhoneNumber ?? "None")
        @if (Model.PhoneNumber != null)
        {
            <br />
            <text>[&nbsp;&nbsp;@Html.ActionLink("Change", "AddPhoneNumber")&nbsp;&nbsp;]</text>
            using (Html.BeginForm("RemovePhoneNumber", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <text>[<input type="submit" value="Remove" class="btn-link" />]</text>
            }
        }
        else
        {
            <text>[&nbsp;&nbsp;@Html.ActionLink("Add", "AddPhoneNumber")
        }
    </dd>
*@
@*<dt>Two-Factor Authentication:</dt>
    <dd>
        <p>
            There are no two-factor authentication providers configured. See <a href="https://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
            for details on setting up this ASP.NET application to support two-factor authentication.
        </p>*@
@*@if (Model.TwoFactor)
    {
        using (Html.BeginForm("DisableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <text>Enabled
            <input type="submit" value="Disable" class="btn btn-link" />
            </text>
        }
    }
    else
    {
        using (Html.BeginForm("EnableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <text>Disabled
            <input type="submit" value="Enable" class="btn btn-link" />
            </text>
        }
    }*@
@*</dd>
        </dl>
    </div>*@